@font-face{
  font-family: 'Brandon Bold';
  src:url('../fonts/Brandon_bld.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Brandon Light';
  src:url('../fonts/Brandon_light.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Brandon Regular';
  src:url('../fonts/Brandon_reg.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Brandon Medium';
  src:url('../fonts/Brandon_med.otf')format('opentype');
  font-weight: normal;
  font-style: normal;
}