header.header.header-bg#header-slide_bg
    article.header__content
        h2.header__content-question Can you build the website of my dreams?
        h1.header__content-title Yup, we can do that.
        div.header__btn.btn#pop_up_open
            a.btn__content Learn More



