header.header.header-bg#header-slide_bg
    article.header__content
        h2.header__content-question(class="wow fadeIn")(data-wow-duration="2s" data-wow-delay=".3s")
            | Can you build the website of my dreams?
        h1.header__content-title(class="wow fadeIn")(data-wow-duration="2s" data-wow-delay="3s")
            | Yup, we can do that.
        div.header__btn.btn#pop_up_open(class="wow bounceInUp")(data-wow-duration="2.5s" data-wow-delay="4.2s")
            a.btn__content Learn More



