section.team
    h4.title Ama
        span.title.title-regular zing
        span.title.title-bold  Team
    p.team__description These wonderful people make work enjoyable
    ul.team__list.container
        li.employee
            img.employee__img
            h5.employee__name Kimberly Thompson
            p.employee__position Marketer
            ul.social_networks_list
                li.social_networks_list__item
                    a(href='')
                        +icon("twitter", "social_networks_list__svg")
                li.social_networks_list__item
                    a(href='')
                        +icon("facebook", "social_networks_list__svg")
                li.social_networks_list__item
                    a(href='')
                        +icon("pinterest", "social_networks_list__svg")
        li.employee
            img.employee__img
            h5.employee__name Rico Massimo
            p.employee__position Coder
            ul.social_networks_list
                li.social_networks_list__item
                    a(href='')
                        +icon("twitter", "social_networks_list__svg")
                li.social_networks_list__item
                    a(href='')
                        +icon("facebook", "social_networks_list__svg")
                li.social_networks_list__item
                    a(href='')
                        +icon("google", "social_networks_list__svg")
        li.employee
            img.employee__img
            h5.employee__name Uku Mason
            p.employee__position Graphic Designer
            ul.social_networks_list
                li.social_networks_list__item
                    a(href='')
                        +icon("facebook", "social_networks_list__svg")
                li.social_networks_list__item
                    a(href='')
                        +icon("pinterest", "social_networks_list__svg")

    p.team__description.team__description-end Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit
        |  aenean rhoncus posuere odio in tincidunt proin iaculis.

