.pop_up{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: .6s;
  z-index: -1;
  background: linear-gradient(rgba(164,187,240,.97), rgba(72,130,217,.97));
  @include FlexCenter();
  &__information{
    font-family: "Brandon Bold";
    color: #fff;
    font-size: 120px;
    text-align: center;
    @include res('tab'){
      font-size: 70px;
    }
    @include res('mob'){
      font-size: 45px;
    }
  }
  &__btn{
    margin-top: 70px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      background: rgba(226, 226, 226, 0.5);
      transition: .6s;
    }
    &:hover:after{
      content: '';
      height: 100%;
    }
    &-content{
      color: #fff;
      text-transform: uppercase;
      font-size: 26px;
    }
  }
}